/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}


/* end of reset */

:root {
    font-size: 13px;
    font-family: Manrope, sans-serif;
    background-color:hsl(210, 46%, 95%);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 24px;
}
.attribution {
    margin-top: 20rem;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    max-width: 1000px;
    background-color: white;
    border-radius: 16px;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.content {
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.author-info {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    overflow: hidden;
}

.author-details {
    display: flex;
   
    gap: 16px;
}
.author-avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
  img {
    border-radius: 50%;
  }
}

.share-options {
    display: none;
    align-items: center;
    gap: 16px;
    background-color: hsl(217, 19%, 35%);
    color: white;
    padding: 16px 24px;
    border-radius: 8px;
}